.password-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
}

.password-box > div {
  margin-bottom: 15px;
}

.password-box input {
  font-size: 20px;
  height: 50px;
  width: 400px;
}

.hidden-on-phone {
  display: block;
}

.visible-on-phone {
  display: none;
}

.hidden-on-phone-form {
  display: initial;
}

@media only screen and (max-width: 900px) {
  .hidden-on-phone {
    display: none;
  }

  .hidden-on-phone-form {
    display: none;
  }

  .visible-on-phone {
    display: block;
  }
}
