.password-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
}

.password-box > div {
  margin-bottom: 15px;
}

.password-box input {
  font-size: 20px;
  height: 50px;
  width: 400px;
}
